
form{
    background-position: center;
    background-color: lightgrey;
    width: 660px;
    font-family: "Arial Rounded MT Bold"
}


input:invalid{
    border:2px solid red;
}




#firsterror{
    visibility:hidden;
    color: red;
}




