@font-face{
    font-family:heart;
    src: url('../src/Always In My Heart.ttf');

}

body, html{
    font-family: heart, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
    background: url("../images/portfolio-background.jpg") no-repeat center center fixed;
}

#container{
    height: 100%;
    background-color: black;
    background-size: cover;
}


head{
    align-self: center;
}

.groove{
    float:left;
    padding:40px;
}

.groove img{
    width:100%;
}

.hero{
    font-size: 70pt;
    background-color: #575c67;
    text-align:center;
    padding: 20px;
}


.links{
    float:left;
    font-family: 'heart', Helvetica, sans-serif;
    font-size: 30pt;
    padding:10pt;
}

.headshot img{
    float:left;
    padding:1px;
    border:3px solid #021a40;
}

.rotate img{
    transform:rotate(90deg);
}

.text-align-center{
    text-align:center;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#titleDiv{
    position: fixed;
    color: rgb(0, 0, 255);
}


/* Animate frame */
#myAnimateBackground {
    position: fixed;
    animation: spin 2s, mymove 3s ease;
    animation-fill-mode: forwards;
    font-size: 4.0vw;
    opacity: .5;
    padding: 20px;
    color: steelblue;
    width: 80%;
    bottom: 20%
}

.tagline1{
    visibility: hidden;
    animation: display .5s ease;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.tagline2{
    visibility: hidden;
    animation: display .5s ease;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}
.tagline3{
    visibility: hidden;
    animation: display .5s ease;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.tagrow{
    bottom:15%;
    position:fixed;
    font-size: 3.0vw;
    color: steelblue;
}

.navslide{
    background: black;
    height: 50px;
    margin: 10px;
    position:relative;
    top:0;
    border-radius: 10px;
    overflow:hidden;
}

#navback{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: steelblue;
    opacity: .5;
    height: 8%;
}
#navbox{
    position: fixed;
    top: 0;
    width: 100%
}

.navslide:hover{
    background: darkslateblue;
    height: 300px;
    border-radius: 3px;
    animation: slide 2s;
    animation-fill-mode: forwards;
}


.navslide img{
    width: 100%;
    height: 100%;
    /*opacity: .5;*/
    padding: 25px;
    border-radius: 10px;
}

.navslide h2{
    position:absolute;
    margin: 0;
    color: lightgrey;
    top: 0;
}

.navslide > img[alt] {
    color:white;
    margin: auto 0;
}

h2 span{
    color: white;
    padding: 10px;
}

.linktext {
    margin: auto 0;
    display: inline;
}

#formbox{
    font-family:"Arial Rounded MT Bold";
    margin: auto;
    background-color: #9d9d9d;

}


#myAnimateBackground:hover {
    transform: rotate(360deg) scale(2,2);
}

@keyframes mymove {
    from {
        background-color: #FFFFFF;
    }
    to {
        background-color: #000000;
    }
}


/* Standard syntax */
@keyframes spin {
     100% {

         transform: rotate(360deg) scale(2, 2);
     }
}

@keyframes slide {
    from {
        height: 100px;
        opacity: .5;
    }
    to {
        height: 300px;
        opacity: 1;
    }
}

@keyframes display{
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}



