@font-face{
    font-family:heart;
    src: url('../src/Always In My Heart.ttf');
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin:auto;
}

.carousel-caption > h4 {
    color: rgb(19, 16, 16);
    font-style: italic;
    font-size: larger;
}

